
<div class="container">
    <div class=" bodyFont tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">Here are your pup needs list</p>
                <p class="subtitle">Add a new task and the date its due</p>
                <div class="content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Task</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="task in overview.owner.todo | orderBy: Date">
                                <td>{{task.task}}</td>
                                <td>{{task.date | date}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="input" type="text" ng-model="overview.newTodo.task">
                                </td>
                                <td>
                                    <input class="input" type="date" ng-model="overview.newTodo.date">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button ng-click="overview.addTodo(overview.newTodo, overview.ownerId)">Add new task</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
        <div class="tile is-parent is-3">
            <article class="tile is-child box">
                <p class="title">Hey {{overview.owner.firstName}}, over here!</p>
                <p class="subtitle">My current information</p>
                <div class="content">
                    <p>Email: {{overview.owner.email}}</p>
                    <p>Zip: {{overview.owner.zipCode}}</p>
                    <p>NSR Registration Number: {{overview.owner.nsrRegistration}}</p>
                    <div ng-repeat='date in overview.vetAppt'>
                        <p>Next Visit to Vet: {{date | date}}</p>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <div>
        <button class="button success" ng-click="overview.addPup()"><strong>Add a Pup</strong></button>
    </div>
    <div class="pupData columns" ng-repeat="pup in overview.owner.pups">
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img ng-src="{{pup.picture.url}}" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image">
                                <i class="fa fa-paw fa-3x" aria-hidden="true"></i>
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-8 pupName">{{pup.name}}</p>
                            <p class="subtitle is-5">{{pup.birthdate | date}}</p>
                        </div>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Chip Information: {{pup.chipInformation}}</li>
                            <li>Allergies: {{pup.allergies}}</li>
                        </ul>
                        <br>
                    </div>
                </div>
                <button class="button tiny" ui-sref="pupInfo({_id: pup._id})">PUP'S INFO</button>
            </div>
        </div>
    </div>
</div>

<!-- my code -->

<table>
    <thead>
        <th>PUP Information</th>
    </thead>
    <tbody>
        <tr ng-repeat="pup in overview.owner.pups">
            <td><img ng-src="{{pup.picture.url | fpConvert: {filter:'sharpen', w:300, h:150} }}"></td>
            <td>Puppy's Name: {{pup.name}}</td>
            <td>Puppy's Birthday: {{pup.birthdate | date}}</td>
            <td>Puppy's Chip Information: {{pup.chipInformation}}</td>
            <td ng-click="editing = true">Puppy's Name: {{pup.name}}</td>
            <td ng-click="editing = true">Puppy's Birthday: {{pup.birthdate | date}}</td>
            <td ng-click="editing = true">Puppy's Chip Information: {{pup.chipInformation}}</td>
            <td ng-show="editing">
                <button class="button alert tiny" ng-click="overview.deletePup(pup)">delete</button>
                <button class="button tiny" ng-click="editing = false">close</button>
            </td>
            <td>
                <button class="button tiny" ui-sref="pupInfo({_id: pup._id})">PUP'S INFO</button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="button success" ng-click="overview.addPup()"><strong>Add a Pup</strong></button>
            </td>
        </tr>
    </tbody>
</table>

<div class="container">
    <div class=" bodyFont tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child box">
            <p class="title">Here are your pup needs list</p>
            <p class="subtitle">Add a new task and the date its due</p>
<!--Add a todo-->
<div class="content">
    <div class="table">

        <div class="large-4 columns">
            <label class='label black'>Enter New Task</label>
            <input type="text" ng-model="overview.newTodo.task">
        </div>
        <div class="large-4 columns">
            <label class='label black'>When is it Due</label>
            <input type="date" ng-model="overview.newTodo.date">
        </div>
        <button class="button medium warning" ng-click="overview.addTodo(overview.newTodo, overview.ownerId)">Add new task</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Enter New Task</th>
            <th>When is it Due</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="task in overview.owner.todo | orderBy: Date">
            <td ng-hide="editing" ng-click="editing = true">{{task.task}} | {{task.date | date}}</td>
            <td ng-show="editing">
                <form ng-submit="editing = false">
                    <div class="large-5 columns">
                        <input style="border: none; box-shadow: none;" type="text" ng-model="task.task" ng-required/>
                    </div>
                    <div class="large-4 columns">
                        <input style="border: none; box-shadow: none;" type="text" ng-model="task.date" ng-required/>
                    </div>
                    <td ng-show="editing">
                        <button class="button warning tiny" type="submit" ng-click="overview.updateTodo(task, task._id)">Save</button>
                        <button class="button tiny" ng-click="editing = false">close</button>
                    </td>
                </form>
            </td>
            <td>
                <button class="button tiny" ng-hide="editing" ng-click="editing = true">Edit</button>
                <button class="button tiny alert" ng-hide="editing" ng-click="overview.deleteTodo(task)">Done with Task</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
</article>
</div>
</div>
