<div class="container is-fluid pad">
    <div class="tile is-ancestor">
        <div class="tile is-vertical">
            <div class="tile">
                <div class="tile is-parent is-4">
                    <article class="tile is-child notification is-success">
                        <figure class="image is-1by1">
                            <img class="borderWhite is-fluid" id="profileDog" ng-src="{{overview.pupData[0].picture.url}}" alt="No Profile Picture Yet">
                        </figure>
                    </article>
                </div>
                <div class="tile is-vertical is-8">
                    <div class="tile is-12">
                        <div class="tile is-parent is-5">
                            <article class="tile is-child notification is-warning">
                                <div class="column is-12">
                                    <div class="">
                                        <header class="card-header">
                                            <p class="title" style="padding-left: 10px;">Welcome {{overview.owner.firstName}} {{overview.owner.lastName}}!</p>
                                        </header>
                                        <div>
                                            <div class="card-content">
                                                <div class="subtitle" id="profileCard">
                                                    <div ng-click="profile = !profile" ng-hide="profile">
                                                        
                                                        
                                                        <p class="fontss"><i class="fa fa-envelope" style="margin-top:5px"></i> : {{overview.owner.email}}</p>
                                                        
                                                        <p class="fontss"><i class="fa fa-area-chart" style="margin-top:5px"></i> : {{overview.owner.zipCode}}</p>
                                                        
                                                        <p class="fontss"><i class="fa fa-phone" style="margin-top:5px"></i>: {{overview.owner.telephone}}</p>
                                                        
                                                        <p class="fontss"><i class="fa fa-sort-numeric-asc" style="margin-top:5px"></i> NSR Number: {{overview.owner.nsrRegistration}}</p>
                                                    </div>
                                                        <div class="subtitle">
                                                    <div ng-hide="!profile" id="hiddenProfile">
                                                            <p><i class="fa fa-envelope " style="margin-top:5px"></i>: <input class="fontss" type="text" style="width: 300px;" ng-model="overview.owner.email"></p>
                                                            
                                                            <p><i class="fa fa-area-chart " style="margin-top:5px"></i>: <input class="fontss" type="text" style="width: 60px;" ng-model="overview.owner.zipCode"></p>
                                                            
                                                            <p><i class="fa fa-phone " style="margin-top:5px"></i>: <input class="fontss" type="phone" style="width: 120px;" ng-model="overview.owner.telephone"></p>
                                                            
                                                            <p><i class="fa fa-sort-numeric-asc " style="margin-top:5px"></i>NSR Number: <input class="fontss" type="text" style="width: 170px;" ng-model="overview.owner.nsrRegistration"></p>
                                                            <button class="button is-primary" ng-click="profile = !profile; overview.getOwnerById()" style="margin-top:20px;">Close</button>
                                                            <button class="button is-success" ng-click="overview.updateProfile(overview.owner, overview.owner._id)" style="margin-top:20px">Save</button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </article>
                            </div>
                            <div class="tile is-parent is-2">
                                <article class="tile is-child notification is-info">
                                    <div style="display: inline;">
                                            <p class="title" align="center">Next Vet Visit(s)</p>
                                        <br>
                                        <div ng-repeat='date in overview.vetAppt'>
                                            <p>{{date | date}}</p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="tile is-parent is-5">
                                <article class="tile is-child notification is-success">
                                    <div class="column is-12">
                                        <div class="">
                                            <header class="card-header">
                                                <p class="title" style="padding-left: 10px;">Fitness</p>
                                            </header>
                                            <div class="card-content">
                                                <div class="subtitle" id="fitnessCard" style="padding-bottom: 10px;">
                                                     <p> <i class="fa fa-rebel"></i>
                                                    {{overview.fitnessData[0][0].notes}}</p>
                                                    <br>
                                                    <p><i class="fa fa-calendar"></i> {{overview.fitnessData[0][0].date | date}}</p>
                                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile is-parent is-vertical is-3">
                                <article class="tile is-child">
                                    <article class="tile is-child">
                                        <div>
                                            <div style="margin-top: 85px; margin-right: 10px; text-align: center" align="center">
                                                <a class="" ng-click="overview.addPup()"><i class="fa fa-paw" style="font-size: 200px;" aria-hidden="true"></i></a>
                                                <a ng-click="overview.addPup()">
                                                    <p style="font-size: 25px">Add a Pup!</p>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                </article>
                            </div>
                            <!-- <div class="tile"> -->
                            <div class="tile is-parent is-3" ng-repeat="pup in overview.owner.pups">
                                <article id="pupCard" class="tile is-child notification is-danger">
                                    <div class="card" id="cardPup">
                                        <div class="card-image" ui-sref="pupInfo({_id: overview.ownerId,_pupId: pup._id})">
                                            <a>
                                                <figure class="image is-1by1">
                                                    <img class="borderWhite" ng-src="{{pup.picture.url}}" alt="No PictureAvailable">
                                                </figure>
                                            </a>
                                        </div>
                                        <div class="card-content">
                                            <div class="content">
                                                <h4 align="center">{{pup.name}}</h4>
                                            </div>
                                            <a class="card-header-icon" style="" ng-click="hide = !hide">
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                        </div>
                                        <footer class="card-footer" ng-hide="!hide">
                                            <a class="card-footer-item" ng-click="overview.deletePup(pup)">Remove</a>
                                        </footer>
                                    </div>
                                </article>
                            </div>
                            <!-- </div> -->
                            <div class="tile is-parent is-1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile">
                    <div class="tile is-parent is-2">
                        <article class="tile is-child notification is-purple">
                             <div align="center">
                                <img src="images/imageEdit2.png" height="200" width="200">
                                </div>
                        </article>
                    </div>
                
                        <div class="tile is-parent">
                            <article class="tile is-child notification is-info">
                                <div class="column is-full">
                                    <p class="panel-heading">Pup's grocery List</p>
                                    <table class="table table-hover is-narrow">
                                        <thead>
                                            <tr>
                                                <td>Items</td>
                                                <td>When</td>
                                                <td></td>
                                            </tr>
                                            <tr ng-repeat="task in overview.owner.todo | orderBy: '+date'">
                                                <td ng-model="overview.task.task">
                                                    <p>{{ task.task }}</p>
                                                </td>
                                                <td ng-model="overview.task.date">
                                                    <p>{{ task.date | date }}</p>
                                                </td>
                                                <td>
                                                    <div class="buttons">
                                                        <a class="checkbox" ng-click="overview.deleteTodo(task._id)"><i style="padding-top: 3px; font-size: 30px" class="fa fa-check-square" aria-hidden="true"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input class="input" type="text" ng-model="overview.newTodo.task">
                                                </td>
                                                <td>
                                                    <input class="input" type="date" ng-model="overview.newTodo.date">
                                                </td>
                                                <td>
                                                    <a class="todoAdd" ng-click="overview.addTodo(overview.newTodo, overview.ownerId)"><i style="font-size: 30px;" class="fa fa-plus-square" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child notification is-dark">

                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
