<div class="large-3 large-centered columns">
  <div class="login-box">
    <div class="row">
      <div class="large-12 columns">
        <form ng-submit="login.fakeLogin(login.loginInfo.password)">
        <!-- All inputs need a ng-model class!!! -->
          <div class="row">
            <div class="large-12 columns">
              <input type="text" name="firstName" placeholder="FistName">
            </div>
            <div>
              <select ng-model="login.selectedOwner" ng-options="owner._id as owner.firstName for owner in login.owners">
           <!--  <select ng-options="select as label for value in array"></select> -->
              <option value="" disabled >Select Owner</option>
            </select>
            </div>
          </div>

            <div class="row">
              <div class="large-12 columns">
                <input type="text" name="lastName" placeholder="LastName">
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <input type="text" name="address" placeholder="Address">
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <input type="tel" name="telephone" placeholder="Phone">
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <input type="email" name="email" placeholder="Email">
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <input type="text" name="nsrRegistration" placeholder="NSR Registration">
              </div>
            </div>

          <div class="row">
            <div class="large-12 columns">
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <input type="password" name="confirmPassword" placeholder="Confirm Password">
            </div>
          </div>

          <div class="row">
            <div class="large-12 large-centered columns">
              <button type="submit" class="button expand" ng-click="login.fakeLogin()">Log In<button>
            </div>
            
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div id="loginBackground">
    <div class="columns">
        <div class="container column is-one-third loginBox">
            <div class="content is-medium">
                <h1>Login</h1>
            </div>
            <form ng-submit="login.loginAdmin(login.loginInfo)">
                <p class="control has-icon">
                    <input class="input is-large" type="email" placeholder="Email" ng-model="login.loginInfo.email">
                    <i class="fa fa-envelope"></i>
                </p>
                <p class="control has-icon">
                    <input class="input is-large" type="password" placeholder="Password" ng-model="login.loginInfo.password">
                    <i class="fa fa-lock"></i>
                </p>
                <p class="control">
                    <button class="button is-medium login-button" ng-click="login.loginAdmin();">
                        Login <i class="icons fa fa-check login-button-icon"></i>
                    </button>
                </p>
            </form>
        </div>
    </div>
 -->