body {
	background-color: white;
}
#mySidenav, #login, div span {
    display: none;
}

#loginField {
    padding-top: 170px;
}

p a {
    padding-left: 30px;
}

.loginTitle {
	text-align: center;
}

.loginImage {
	background-image: url("BlackDog.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30% 20%;
}

.heroText {
	color: white;
}

.loginFont {
	/*font-family: 'Gabriela', serif;*/
}
