<section class="section app pupInfoBackground">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-7">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-primary">
                            <p class="title">About {{pupInfo.pup.name}}</p>
                            <form name="editableOwnerInfo">
                                <p class="">
                                    Weight:
                                    <i ng-hide="pupInfo.showeditableOwnerInfo">{{ pupInfo.pup.weight}}</i>
                                    <input type="number" class="pupInfoInput" ng-model="pupInfo.pup.weight" ng-show="pupInfo.showeditableOwnerInfo" size="3" />
                                </p>
                                <p class="">
                                    Allergies:
                                    <i ng-hide="pupInfo.showeditableOwnerInfo">{{ pupInfo.pup.allergies}}</i>
                                    <input type="text" class="pupInfoInput" ng-model="pupInfo.pup.allergies" ng-show="pupInfo.showeditableOwnerInfo" />
                                </p>
                                <p class="">
                                    Medications:
                                    <i ng-hide="pupInfo.showeditableOwnerInfo">{{ pupInfo.pup.medConditions}}</i>
                                    <input type="text" class="pupInfoInput" ng-model="pupInfo.pup.medConditions" ng-show="pupInfo.showeditableOwnerInfo" />
                                </p>
                                <p class="">
                                    Chip Information:
                                    <i ng-hide="pupInfo.showeditableOwnerInfo">{{ pupInfo.pup.chipInformation}}</i>
                                    <input type="text" class="pupInfoInput" ng-model="pupInfo.pup.chipInformation" ng-show="pupInfo.showeditableOwnerInfo" />
                                </p>
                                <div class="buttons">
                                    <div class="editPup">
                                        <a class="editPup" ng-click="pupInfo.showeditableOwnerInfo = true" ng-show="!pupInfo.showeditableOwnerInfo">Edit <i class="fa fa-paw large" aria-hidden="true"></i></a>
                                    </div>
                                    <div ng-show="pupInfo.showeditableOwnerInfo">
                                        <button type="submit" class="button is-info" ng-click="pupInfo.editPup()">
                                            Update
                                        </button>
                                        <button type="button" class="button is-danger" ng-click="pupInfo.showeditableOwnerInfo = false">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </article>
                        <!--  -->
                        <article class="tile is-child notification is-warning">
                            <p>Next Vet Visit: {{ pupInfo.pup.medicalRecord[0].nextVisit | date }}</p>
                        </article>
                        <!--  -->
                        <article class="tile is-child notification is-warning">
                            <p>Last Workout Session: {{pupInfo.lastFit | date}}</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-danger">
                            <p class="title"></p>
                            <figure class="image is-1by1">
                                <img class="pictureBorder" ng-src="{{pupInfo.pup.picture.url}}" alt="Image">
                            </figure>
                            <p class="title">{{pupInfo.pup.name}}</p>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent is-bold">
                    <article class="tile is-child notification is-info">
                        <p class="title">{{pupInfo.pup.name}}'s Workout Log</p>
                        <p class="subtitle">Enter a recent activity you've done with {{pupInfo.pup.name}}</p>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                    <div class="content">
                        <p class="subtitle pupMedTitle">{{pupInfo.pup.name}}'s Medical Record</p>
                        <p class="subtitle">Here are the most recent dates for each item</p>
                        <div class="content">
                            <!-- Owner can create and update the med record here -->
                            <form name="editableForm ">
                                <p class="medText">
                                    Rabies shot:
                                    <i ng-hide="pupInfo.showEditableForm" ng-model="pupInfo.med.rabies" date-time>{{ pupInfo.pup.medicalRecord[0].rabies | date }}</i>
                                    <input date-time class="medDate" ng-model="pupInfo.med.rabies" ng-show="pupInfo.showEditableForm" />
                                </p>
                                <p class="medText">
                                    Lepto shot:
                                    <i ng-hide="pupInfo.showEditableForm">{{ pupInfo.pup.medicalRecord[0].lepto | date }}</i>
                                    <input date-time class="medDate" ng-model="pupInfo.med.lepto" ng-show="pupInfo.showEditableForm" />
                                </p>
                                <p class="medText">
                                    DHPP shot:
                                    <i ng-hide="pupInfo.showEditableForm">{{ pupInfo.pup.medicalRecord[0].dhpp | date }}</i>
                                    <input date-time class="medDate" ng-model="pupInfo.med.dhpp" ng-show="pupInfo.showEditableForm" />
                                </p>
                                <p class="medText">
                                    Bordetella shot:
                                    <i ng-hide="pupInfo.showEditableForm">{{ pupInfo.pup.medicalRecord[0].bordetella | date }}</i>
                                    <input date-time class="medDate" ng-model="pupInfo.med.bordetella" ng-show="pupInfo.showEditableForm" />
                                </p>
                                <p class="medText">
                                    Date for chip renewal:
                                    <i ng-hide="pupInfo.showEditableForm">{{ pupInfo.pup.medicalRecord[0].chipInfo | date }}</i>
                                    <input date-time class="medDate" ng-model="pupInfo.med.chipInfo" ng-show="pupInfo.showEditableForm" />
                                </p>
                                <p class="medText">
                                    Heartworm shot:
                                    <i ng-hide="pupInfo.showEditableForm">{{ pupInfo.pup.medicalRecord[0].heartWorm | date }}</i>
                                    <input date-time class="medDate" ng-model="pupInfo.med.heartWorm" ng-show="pupInfo.showEditableForm" />
                                </p>
                                <p class="medText">
                                    Flea Prevention:
                                    <i ng-hide="pupInfo.showEditableForm">{{ pupInfo.pup.medicalRecord[0].fleaPrevention | date }}</i>
                                    <input date-time class="medDate" ng-model="pupInfo.med.fleaPrevention" ng-show="pupInfo.showEditableForm" />
                                </p>
                                <p class="medText">
                                    Blood/Urine Check:
                                    <i ng-hide="pupInfo.showEditableForm">{{ pupInfo.pup.medicalRecord[0].bloodUrine | date }}</i>
                                    <input date-time class="medDate" ng-model="pupInfo.med.bloodUrine" ng-show="pupInfo.showEditableForm" />
                                </p>
                                <p class="medText">
                                    Next Vet Visit:
                                    <i ng-hide="pupInfo.showEditableForm">{{ pupInfo.pup.medicalRecord[0].nextVisit | date }}</i>
                                    <input date-time class="medDate" ng-model="pupInfo.med.nextVisit" ng-show="pupInfo.showEditableForm" />
                                </p>
                                <p class="medText">
                                    Last Dental Exam (Optional):
                                    <i ng-hide="pupInfo.showEditableForm">{{ pupInfo.pup.medicalRecord[0].dentalExam | date }}</i>
                                    <input date-time class="medDate" ng-model="pupInfo.med.dentalExam" ng-show="pupInfo.showEditableForm" />
                                </p>
                                <p class="medText">
                                    Rattle Snake Training (Optional):
                                    <i ng-hide="pupInfo.showEditableForm">{{ pupInfo.pup.medicalRecord[0].rattleSnakeTraining | date }}</i>
                                    <input date-time class="medDate" ng-model="pupInfo.med.rattleSnakeTraining" ng-show="pupInfo.showEditableForm" />
                                </p>
                                <p class="medText">
                                    Last Time Medication Was Picked Up (Optional):
                                    <i ng-hide="pupInfo.showEditableForm">{{ pupInfo.pup.medicalRecord[0].medications | date }}</i>
                                    <input date-time class="medDate" ng-model="pupInfo.med.medications" ng-show="pupInfo.showEditableForm" />
                                </p>
                                <p>
                                    <button type="button" class="button is-danger" ng-click="pupInfo.redirectTo()" ng-show="!pupInfo.showEditableForm">View Uploaded Medical File
                                    </button>
                                </p>
                                <div class="buttons">
                                    <button type="button is-primary" class="button is-info is-outlined" ng-click="pupInfo.showEditableForm = true" ng-show="!pupInfo.showEditableForm">
                                        Make a change
                                    </button>
                                    <button type="button" class="button is-danger" ng-click="pupInfo.upload()" ng-show="!pupInfo.showEditableForm">
                                        Upload
                                    </button>
                                    <div ng-show="pupInfo.showEditableForm">
                                        <button type="submit " class="button is-info" ng-click="pupInfo.addMed()">
                                            Update
                                        </button>
                                        <button type="button" class="button is-danger" ng-click="pupInfo.showEditableForm = false">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <section class="hero is-small is-warning is-bold">
            <div class="hero-body">
                <div class="container">
                </div>
            </div>
        </section>
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <td>Enter When Fitness Happened
                        <input class="input" type="date" ng-model="pupInfo.newFitness.date">
                    </td>
                    <td>Enter How'd it Go
                        <input class="input" type="text" ng-model="pupInfo.newFitness.notes">
                    </td>
                    <td>
                        <a class="logItBtn" ng-click="pupInfo.addFit(pupInfo.newFitness)"><strong>Log it!</strong></a>
                    </td>
                </tr>
            </thead>
            <tr style="font-weight: bold">
                <td style="width:20%">When did it Happen</td>
                <td style="width:60%">How'd it go</td>
                <td style="width:20%">Remove</td>
            </tr>
            <tr ng-repeat="fit in pupInfo.pup.fitness | orderBy: '-date'">
                <td ng-model="fit.date">{{fit.date | date}}</td>
                <td ng-model="fit.notes">{{fit.notes}}</td>
                <td style="white-space: nowrap">
                    <div class="buttons">
                        <button class="button is-danger" ng-click="pupInfo.removeFit(fit._id)">Remove</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>
