.pupUploadbtn {
	display: inline;
	/*align-content: right;*/
}

.addDogBtn {
	display: inline;
	align-content: right;
}
#yoda {
	margin-top: 120px;
}
#yoda h2 {
	font-size: 30px;
}
#yoda img {
	margin-left: 70px;
	border: none;
}