<div>This is the add a Pup state</div>
<div>
	<form>
		<div>
			<label class="label">Enter pups name:</label>
			<input class="input" type="text" ng-model="pup.newPup.name">
		</div>
		<div>
			<label class="label">Enter pups age:</label>
			<input class="input" type="text" ng-model="pup.newPup.age">
		</div>
		<div>
			<label class="label">Enter pups color:</label>
			<input class="input" type="text" ng-model="pup.newPup.color">
		</div>
		<div>
			<label class="label">Enter pups size:</label>
			<input class="input" type="text" ng-model="pup.newPup.size">
		</div>
		<div>
			<label class="label">Enter pups weight:</label>
			<input class="input" type="text" ng-model="pup.newPup.weight">
		</div>
		<div>
			<label class="label">Enter pups allergies:</label>
			<input class="input" type="text" ng-model="pup.newPup.allergies">
		</div>
		<div>
			<label class="label">Enter pups birthdate:</label>
			<input class="input" type="text" ng-model="pup.newPup.birthdate">
		</div>
		<div>
			<label class="label">Enter pups medical conditions, if any:</label>
			<input class="input" type="text" ng-model="pup.newPup.medConditions">
		</div>
		<div>
			<label class="label">Enter pups chip information:</label>
			<input class="input" type="text" ng-model="pup.newPup.chipInformation">
		</div>
		<div>
			<label class="label">Enter pups medications:</label>
			<input class="input" type="text" ng-model="pup.newPup.medications">
		</div>
		<div>
			<button class="button success" ng-click="pup.addPup(pup.newPup)">Add Puppy!</button> 
		</div>
	</form>
</div>