html {
    height: 100%;
    padding: 0;
    margin 0;
}
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-image: none;                     
    height: 100%;
    width: 100%;
    margin-bottom: 10;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    text-align: right;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}
#push {
    transition: margin-right .5s;
    display: block;
}
/*div span {
    padding-right: 16px;
    margin-right: 16px;
    display: block;
    text-align: right;
}*/
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: center;


}
.fixedElement {
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}
#mySidenav {
    display: block;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navTitle {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

#login {
    display: block;
}
div .nav-right {
    padding-top: 0;
    padding-right: 60px;
    background-color: black;
}
div .nav-left {
    padding-left: 60px;
}

.navBackgrond {
    background: black;
/*    background-repeat: no-repeat;
    background-attachment: fixed;   
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
 .click {
    padding-top: 8px;
}
/*
font-family: 'Lobster', cursive;
font-family: 'Gabriela', serif;
*/



























