<!DOCTYPE html>
<html lang="en" ng-app="app" ui-router-styles>
<head>
	<meta charset="UTF-8">
	<title>Chew-Barka</title>

<!--CSSPackages-->
<link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
<link rel="stylesheet" href="bower_components/foundation-sites/dist/foundation.css" />
<link rel="stylesheet" href="bower_components/toastr/toastr.css" />
<!--endcss-->

<!--CustomCSS-->
<!--endcustom-->

<!--bower:css-->
<link rel="stylesheet" href="bower_components/toastr/toastr.css" />
<link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
<!--endbower-->
<!--inject:css-->
<link rel="stylesheet" href="js/addPup/addPup.css">
<link rel="stylesheet" href="js/events/events.css">
<link rel="stylesheet" href="js/equipment/equipment.css">
<link rel="stylesheet" href="js/login/login.css">
<link rel="stylesheet" href="js/parks/parks.css">
<link rel="stylesheet" href="js/photos/photo.css">
<link rel="stylesheet" href="js/pupInfo/pupInfo.css">
<!--endinject-->
<link rel="stylesheet" href="style/main.css">

</head>
<body>
<h2 align="center">ChewBarka</h2>

	<div ng-controller="navController as nav">
	  <div id="mySidenav" class="sidenav">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		  <a href="#" ng-click="nav.passId()" ui-sref="overview({_id: nav.ownerId})">Home</a>
		  <a href="#" ng-click="nav.passId()" ui-sref="events({_id: nav.ownerId})">Events</a>
		  <a href="#" ng-click="nav.passId()" ui-sref="parks({_id: nav.ownerId})">Parks</a>
		  <a href="#" ng-click="nav.passId()" ui-sref="photo({_id: nav.ownerId})">Photos</a>
		  <!-- <a href="#" ng-click="nav.passId()" ui-sref="equipment({_id: nav.ownerId})">Equipment</a> -->
		  <a href="#" ng-click="nav.passId()" ui-sref="extra.links({_id: nav.ownerId})">Extra</a>
	  </div>
	</div>  
  

	<div id="main">
	  <span class="click" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
	</div>


	
<!--LazyLoad-->
	<main>
		<div ui-view></div>
	</main>
<!--endlazyload-->
<div align="center">
	<footer class="footer">
			<div class="content">
				<p>
					<strong>ChewBarka Creators:</strong> Cole Logan and Herberto Basulto
				</p>
			</div>
	</footer>
</div>

<!--bower:js-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/what-input/what-input.js"></script>
<script src="bower_components/foundation-sites/dist/foundation.js"></script>
<script src="bower_components/toastr/toastr.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angular-ui-router-styles/ui-router-styles.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/filepicker-js/filepicker.min.js"></script>
<script src="bower_components/angular-filepicker/dist/angular_filepicker.js"></script>
<!--endbower-->

<!--inject:js-->

<script src="js/app.module.js"></script>

<script src="js/addPup/addPup.controller.js"></script>

<script src="js/core/crud.factory.js"></script>

<script src="js/core/equipment.factory.js"></script>

<script src="js/core/event.factory.js"></script>

<script src="js/core/extra.factory.js"></script>

<script src="js/core/family.factory.js"></script>

<script src="js/core/links.factory.js"></script>

<script src="js/core/login.factory.js"></script>

<script src="js/core/medical.factory.js"></script>

<script src="js/core/overview.factory.js"></script>

<script src="js/core/photo.factory.js"></script>

<script src="js/core/pup.factory.js"></script>

<script src="js/core/todo.factory.js"></script>

<script src="js/events/events.controller.js"></script>

<script src="js/equipment/equipment.controller.js"></script>

<script src="js/login/login.controller.js"></script>

<script src="js/extra/grooming.controller.js"></script>

<script src="js/extra/links.controller.js"></script>

<script src="js/extra/shelter.controller.js"></script>

<script src="js/medical/medical.controller.js"></script>

<script src="js/navBar/navbar.controller.js"></script>

<script src="js/nav/nav.controller.js"></script>

<script src="js/overview/overview.controller.js"></script>

<script src="js/parks/parks.controller.js"></script>

<script src="js/photos/photo.controller.js"></script>

<script src="js/pupInfo/pupInfo.controller.js"></script>

<!--endinject-->
<script src="style/main.js"></script>
<!--endanglarjs-->
</body>
</html>



